@use './variables.scss' as *;

.about-section {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $white;
  padding-top: 90px;
  @media screen and (max-width: 500px) {
    padding-top: 40px;
  }

  h1 {
    // space out letters and make uppercase
    letter-spacing: 3px;
    margin: 10px 0px;
    text-transform: uppercase;
  }
}

.about-container {
  padding: 10px 10px;
  border-radius: 5px;
}

.carousel {
  min-height: 500px;
  display: flex;
  padding: 20px 50px;
  gap: 50px;
  align-items: flex-start;
  @media screen and (max-width: 760px) {
    flex-direction: column;
    padding: 10px 0px;
  }
  p.about-me{
    text-align: left;
    align-self: center;
    border-left: 3px solid $indigo;
    padding-left: 10px;
    flex: 1;
    line-height: 2;
    .cta {
      margin-top: 1.5rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: #333;
      letter-spacing: 0.3px;
    }
  }
  figure .fig-name {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    svg {
      width: 1.15em;
      height: 1.15em;
    }
  }
}
.carousel figure {
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
  .figcaption p {
    margin: 15px 0;
  }
}

.core-skills {
  margin: 40px 0px;
}
.core-skills .skill-list {
  max-width: 900px;
  margin: 30px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  li {
    display: flex;
    flex-direction: column;
    h4{
      font-weight: lighter;
      letter-spacing: 3px;
    }
    div.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 0px 3px 3px 0px;
    }
  }
}

.skill-list .skill-name {
  display: flex;
  gap: 8px;
  align-items: center;
  img {
    width: 1.15em;
    height: 1.15em;
  }
}
.skill-name h4{
  color: $indigo;
}

div.progress-bar {
  background-color: $black;
  border-radius: inherit;
  animation: fillProgressBar linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 200px;
  
  p {
    opacity: 0;
    color: $white;
    text-align: center;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }
  min-height: 30px;
  padding: 5px 0px;
}

// animation to fill the progress bar from left to right
@keyframes fillProgressBar {
// scale the width of the progress bar from 50% to 100%
  from {
    transform: scaleX(0.5);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  } 
}

@media screen and (max-width: 780px) {
  :root {
    --font-size: 18px;
  }
  .carousel figure {
    margin: 0 auto;
  }
  .carousel .about-img {
    height: 250px;
    object-fit: cover;
    // adjust image position to show upper part of the image 
    object-position: 50% 20%;
  }  
}
