@use './variables.scss' as *;


.footer {
  margin: 0 auto;
  padding: 20px;
  color: $white;
  min-height: 150px;
  background-color: $black;
}

.top-btn {
  padding: 0.7rem 1.2rem;
  background-color: $indigo;
  border-radius: 5px;
  color: $white;
  text-decoration: none;
  transition: opacity 0.3s ease-in;
  &:hover {
    opacity: 0.9;
  }
}

.social-media-links {
  list-style-type: none;
}
.reference-lists {
  list-style-type: none;
  a{
    color: $white;
  }
}

.copyrights {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
  svg {
    width: 1.12em;
    height: 1.12em;
    fill: $white;
  }
}