@use './variables.scss' as *;

.burger-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  // make background darker with $primary color and a little transparent to see the content behind it
  background: transparentize($color: $primary, $amount: 0.6);
  z-index: 10;
  backdrop-filter: blur(5px);
}

.burger-nav-list {
  padding-top: 8em;
  height: 100%;
  list-style-type: none;
  @include flex(column, 4em);
  align-items: center;
}


.burger-nav-item-link {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: transform 0.6s ease-in-out;
  svg {
    width: 1.12em;
    height: 1.12em;
    fill: #ddeafb;
  }
  &:hover {
    transform: scale(.96);  
}
}

// ANIMATION CLASSES
.animate-in {
  animation: nav-animation 300ms ease-in  forwards ;
}

@keyframes nav-animation {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}