@use './variables.scss' as *;

.portfolio-section {
  padding: 40px 0px;
  background-color: $white;
  max-width: 1400px;
  margin: 0 auto;
  h1{
    // space out letters and make uppercase
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 20px 0px;
  }
}
.projects-container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 30px 0px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.img-container{
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  .img-frame{
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.537);
    max-width: 600px;
    height: 350px;
    background-color: $whiteTile;
    opacity: .7;
    transition: opacity 0.3s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
    &:hover {
      opacity: 1;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.701);
    }
  }
  img {
    position: relative;
    border-radius: inherit;
    top: 50px;
    left: 100px;
    max-width: 600px;
    height: 350px;
  }
}

.project {
  margin: 30px 0px;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .img-container {
      justify-content: flex-end;
    }
    .img-container img {
      left: -100px;
    }
  }
}

.project-details {
  margin-top: 20px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  p {
    padding: 0px 10px;
  }
  a.repo-link, a.live-link {
    width: fit-content;
    padding: 0.58em;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: $white;
    transition: background-color,transform 0.2s ease-in-out;
    &:hover {
      transform: scale(.95);
    }
  }
  a.repo-link {
    background-color: $primary;
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
  a.live-link {
    background-color: $accent;
    &:hover {
      background-color: darken($accent, 1%);
    }
  }
}
.project-details header {
  display: flex;
  gap: 10px;
  .open-modal {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: $accent;
    color: $white;
    border: none;
    cursor: pointer;
    animation: pulse 1.5s infinite;
  } 
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} 

.link-btn-container {
  @include flex(row, 10px);
  align-items: center;
}

// MODAL
.modal::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.modal {
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 20px;
  // place in center of screen
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  overflow: auto;
}
.modal h4 {
  margin: 15px 0px;
}
.modal ul {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 20px;
  li {
    margin-bottom: 5px;
  }      
}
.modal .close-modal {
  background-color: $brickRed;
  color: $white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color,transform 0.2s ease-in-out;
  &:hover {
    transform: scale(0.95);
    background-color: darken($brickRed, 10%);
  }
}
.modal .close-modal-times {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 2em;
  color: $brickRed;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  // make it spin on hover and scale up a bit
  &:hover {
    animation: spin 0.25s linear;
    transform: scale(1.2);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
.modal .project-video {
  border-radius: 10px;
  width: 100%;
  height: auto;
}


// MEDIA QUERIES
@media screen and (max-width: 780px){
  .project {
    margin: 0px;
    padding: 0px;
    gap: 2rem;
    &:nth-child(even) .img-container {
      justify-content: center;
      img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }      
    }
  }

  .project-details {
    width: 100%;
  }

  .img-container {
    justify-content: center;
  }
  
  .project .img-container img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 500px) {
  .img-container .img-frame{
    opacity: 1;
  }
  
}

