@use './variables.scss' as *;

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  font-size: var(--font-size);
  font-family: 'Times New Roman', Times, serif;
  color: #686868;
  text-align: center;
}

// HEADER STYLES
.header {
  background-image: url(../images/stones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: #e1e1e1;
}
.scroll-animation {
  background-color: $yellow;
  color: $white;
  animation: scrollAnimate 0.6s ease-out 1 forwards;
}

@keyframes scrollAnimate {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

.header-container nav ul {
  background-color: inherit;
  list-style-type: none;

  li {
    float: left;
    text-transform: uppercase;
  }
}

.nav-list a {
  display: flex;
  align-items: center;
  padding: 14px 10px;
  text-decoration: none;
  
  color: inherit;
  transition: background-color 0.4s ease-out;
  &:hover{
    background-color: $primary;
  }
  &:active {
    border-bottom: 2px $white solid;
  }

  img {
    width: 1.12em;
    height: calc(var(--font-size) * 1.12);//same with above method
  }
}
.search-bar {
  padding: 14px 0px;
  margin-right: 5px;
  height: fit-content;
  display: flex;
  input {
    font-size: 0.9em;
    background-image: url(../icons/magnify.svg);
    background-position: 1px 1px;
    background-repeat: no-repeat;
    padding: 2px 0px 2px 32px;
    outline: none;
    border-radius: 3px 0px 0px 3px;
    border: none;
    color: #676767;
    letter-spacing: .05em;
    opacity: .9;
  }
  button {
    background-color: $black;
    color: $white;
    padding: 0px 5px;
    cursor: pointer;
    border: none;
  }
}

// ABOUT STYLES
.about-section {
  max-width: 1100px;
  margin: 0 auto;
  // background-color: $secondary;
  padding-top: 90px;

  h1 {
    // background-color: $white;
    margin: 10px 0px;
    text-transform: uppercase;
  }
}

.about-container {
  background-color: #f8f8f852;
  padding: 10px 10px;
  border-radius: 5px;
}

.carousel {
  margin-top: 60px;
  display: flex;
  // justify-content: space-between;
  gap: 35px;
  p.about-me{
    text-align: left;
  }
  figure .fig-name {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    img {
      width: 1.15em;
      height: 1.15em;
    }
  }
}
.carousel figure {
  display: flex;
  flex-direction: column;
  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
  .figcaption p {
    margin: 15px 0;
  }
}

.core-skills {
  margin: 40px 0px;
}
.core-skills .skill-list {
  max-width: 900px;
  margin: 30px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  li {
    display: flex;
    flex-direction: column;
    h4{
      font-weight: lighter;
      letter-spacing: 3px;
    }
    div.progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 0px 3px 3px 0px;
    }
  }
}

.skill-list .skill-name {
  display: flex;
  gap: 8px;
  align-items: center;
  img {
    width: 1.15em;
    height: 1.15em;
  }
}

div.progress-bar {
  background-color: $black;
  border-radius: inherit;
  p {
    opacity: 0;
    color: $white;
    text-align: center;
    transition: opacity 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }
  min-height: 30px;
  padding: 5px 0px;
}


@media screen and (max-width: 780px) {
}

@media screen and (max-width: 500px) {
  :root {
    --font-size: 12px;
  }

  .header nav ul {
    display: none;
  }
  
  // ABOUT SECTION STYLES
  .carousel {
    @include flex(column, 5px);
  }  
}