@use './variables.scss' as *;

.portfolio-section {
  padding: 40px 0px;
  h1{
    margin: 20px 0px;
  }
}
.projects-container {
  background-color: $secondary;
  max-width: 1100px;
  margin: 0px auto;
  padding: 30px 0px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img-container{
  .img-frame{
    max-width: 600px;
    height: 350px;
    background-color: $whiteTile;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
  img {
    max-width: 600px;
    height: 350px;
    transform: translate(100px,50px);
  }
}

.project {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .img-container img {
      transform: translate(-100px,50px);
    }
  }
}

.project-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 15px;
  button {
    width: fit-content;
    padding: 0.58em;
    border-radius: 5px;
    background-color: $black;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

@media screen and (min-width: 780px){
  .project-details {
    flex-basis: 30%;
    align-items: flex-start;
  }
}

