@use './variables.scss' as *;

.portfolio-section {
  margin: 20px 0px;
  padding: 40px 0px;
  h1{
    margin: 20px 0px;
  }
}
.projects-container {
  background-color: $secondary;
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.img-container{
  .img-frame{
    width: 600px;
    height: 350px;
    background-color: $whiteTile;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 600px;
    height: 350px;
    transform: translate(100px,50px);
  }
}

.project {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .img-container img {
      transform: translate(-100px,50px);
    }
  }
}

.project-details {
  margin-top: 20px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  button {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: $black;
    a {
      text-decoration: none;
      color: $white;
    }
  }
}


