$primary: #333;
$secondary: #ccc;
$accent: #ffa500;
$black : #393f4d;
$brickRed : #FF7755;
$whiteTile : #bccbde;
$white : #FFFFFF;
$yellow : #FFDE22;
$greenishBlue : #00DDFF;
$blue : #238aeb;
$green : #7aff58;
$font-stack: Helvetica, sans-serif;